@use './abstracts/colors' as *;
@use './abstracts/variables' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  // background-color: $main-color;
  background-color: #ddd;
  height: 200vh;
  // overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 2rem 2rem;
}

.section-title {
  padding-bottom: 2rem;
}

//MEDIA QUERIES

@media($media-medium) {
  .section-padding {
      padding: 3rem 3rem;
  }
}
@media($media-large) {
  .section-padding {
      padding: 4rem 4rem;
  }
}