@use './abstracts/colors' as *;
@use './abstracts/variables' as *;

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.nav-desktop { 
    &__link {
        color: $secondary-color;
        font-size: 1.8rem;
        text-decoration: none;
    }
}

.logo {
    font-size: 3.6rem;
}



// <weight>: Use a value from 100 to 900
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }