@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

.burger-btn {
    position: fixed;
    top: 0;
    right: 1rem;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    z-index: 1000;
    cursor: pointer;
    &:focus-visible {
        outline: 2px solid $focus-gray;    
    }
    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }
    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        left: 0;
        top: 14px;
        width: 100%;
        height: 3px;
        background-color: $secondary-color;
        transition: top .4s, transform .4s;
    }
    &__bars::before {
        content: '';
        top: -13px;
    }
    &__bars::after {
        content: '';
        top: 13px
    }
}

.burger-btn--animation {
    .burger-btn__bars {
        transform: rotate(-45deg);
        &::after {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
        &::before {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
    }
}

.offer__card__btn {
    padding: .8em 3em;
}

.contact__form__box__btn {
    margin-top: 1em;
    padding: 1em;
    width: 50%;
    align-self: center;
}

.contact__popup__btn {
    
    padding: 1em 2em;
}

.standard-btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
    &:hover, &:focus-visible {
        background-color: $green;       
        box-shadow: 0px 5px 10px rgba(42, 222, 114, .7);
        outline: none;
    }
}

//MEDIA QUERIES

@media ($media-medium) {
    .contact__form__box__btn {
        margin-top: 1.5em;
        width: 40%;
    }
}

@media ($media-large) {
    .offer__card__btn {
        padding: .4em 3em;
    }
}   