@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

.logo {
    .logo-text, 
    .logo-icon {
        display: inline-block;
        vertical-align: middle;
    }
    cursor: default;
}
