@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

.logo {
    .logo-text, 
    .logo-icon {
        display: inline-block;
        vertical-align: middle;
    }
    cursor: default;
}

// .nav-mobile__logo {
//     position: absolute;
//     bottom: 1.3rem;
//     left: 50%;
//     transform: translateX(-50%);
//     .logo-icon {
//         height: 3rem;
//     }
// }

// .nav-desktop__logo {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);
//     .logo-icon {
//         height: 4rem;
//     }
// }

.footer__logo {
    .logo-icon {
        height: 3rem;
    }
}

// MEDIA QUERIES

@media ($media-large) {
    .footer__logo {
        .logo-icon {
            height: 4rem;
        }
    }
}