@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

.footer {
    position: relative;
    padding-bottom: 0;
    margin-top: auto;
    background-color: $light-gray;
    overflow: hidden;
    &__content {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(5, auto);
        &__heading {
            padding-bottom: 1.6rem;
        }
        &__box {
            &__aboutus{
                grid-column: 2/3;
                grid-row: 2/3;
            }
            &__company{
                grid-column: 2/3;
                grid-row: 3/4;
            }
            &__docs{
                grid-column: 2/3;
                grid-row: 4/5;
            }
        }
        &__list {
            list-style: none;
            padding-bottom: 2rem;
            &__item {
                display: block;
                padding: .5rem;
                padding-left: 0;
                text-decoration: none;
                &:focus-visible {
                    outline: none;
                    font-weight: bold;
                }
            }
        }
    }
    &__logo {
        display: none;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        padding-bottom: 2rem;
        .logo-icon {
            height: 4rem;
        }
    }
    &__date {
        grid-column: 1/4;
        grid-row: -1/-2;
        height: 70px;
        text-align: center;
        &__text {
            line-height: 70px;
        }
    }
    &__line {
        position: absolute;
        left: 0;
        bottom: 70px;
        width: 100vw;
        height: 1px;
        background-color: $secondary-color;
    }
}

// MEDIA QUERIES

@media ($media-small) {
    .footer {
        padding: 3rem 3rem 0 3rem;
        &__content {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            &__heading {
                padding-bottom: 1.6rem;
            }
            &__box {
                &__aboutus{
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                &__company{
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
                &__docs{
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
            }
        }
    }
}

@media ($media-large) {
    .footer {
        &__content {
            grid-template-columns: 50% repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            max-width: 900px;
            &__heading {
                padding-bottom: 1.6rem;
            }
            &__box {
                &__aboutus{
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                &__company{
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
                &__docs{
                    grid-column: 4/5;
                    grid-row: 1/2;
                }
            }
            &__list {
                &__item {
                    padding-bottom: 1rem;
                }
            }
        }
        &__logo {
            display: block;
            grid-column: 1/2;
            justify-self: start;
            padding-bottom: 0;
            .logo-icon {
                height: 4.8rem;
            }
        }
        &__date {
            grid-column: 1/5;
        }
    }
}

