@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

.header {
    &__separator {
        height: 6rem;
    }
    &__hero {
        position: relative;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        background-image: url("dist/img/jungle_small.jpg");
        background-position: center 70%;
        background-size: cover;
        height: 40vh;
        color: $main-color;z-index: -5;
        &--shadow {
            @include hero-shadow;
        }
        &__text {
            grid-row: 2/3;
            align-self: center;
            z-index: 5;
        }

    }
}

//MEDIA QUERIES

@media ($media-medium) {
    .header {
        &__hero {
            background-image: url("dist/img/jungle_large.jpg");
        }
    }
}

@media ($media-large) {
    .header {
        &__separator {
            height: 9rem;
        }
        &__hero {
            background-image: url("dist/img/jungle_xlarge.jpg");
            height: 50vh;
            &__text {
                align-self: center;
            }
            &__title {
                font-size: 2.2rem;
            }
            &__caption {
                font-size: 3.8rem;
            }
        }
    }
}