@use './abstracts/colors' as *;
@use './abstracts/variables' as *;

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 100%;
    }
    &__heading {
        padding: 1em 0;
    }
}