@use './abstracts/colors' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

// ABOUT-US

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 100%;
    }
    &__heading {
        padding: 1em 0;
    }
}

// SEPARATOR ROW

.separator-row {
    position: relative;
    display: flex;
    height: 25vh;
    background-image: url("/dist/img/girl_small.jpg");
    background-position: center;
    background-size: 100%;
    transition: background-size 2s;
    &:hover {
        background-size: 125%;
    }
    &__hero-shadow {
        @include hero-shadow;
        background-color: rgba(6, 24, 0, 0.6);
        pointer-events: none;
    }
    &__content {
        position: relative;
        pointer-events: none;
    }
    &__content__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        border: 1px solid $main-color;
        text-align: center;
    }
    &__content__text {
        padding: .5em 2em;
    }
}

// OFFER

.offer__caption {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

.offer__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//MEDIA QUERIES

@media ($media-xsmall) {
    .separator-row {
        &__content__text {
            padding: .8em 3em;
        }
    }
}

@media ($media-small) {
    .separator-row {
        &__content__text {
            padding: 1em 4em;
        }
    }
}

@media ($media-medium) {
    .separator-row {
        &__content__text {
            padding: 1em 4em;
        }
    }
    .offer__cards {
        flex-direction: row;
        justify-content: space-around;
        column-gap: 2rem;
        row-gap: 2rem;
        flex-wrap: wrap;
        
    }
    .offer__caption {
        padding-bottom: 4rem;
    }
}

@media ($media-large) {
    .about-us {
        &__content {
            display: flex;
            flex-direction: row;
            column-gap: 2em;
        }
        &__img {
            flex-basis: 50%;
            
        }
        &__heading {
            align-self: start;
            padding-top: 0;
        }
        &__text-box {
            flex-basis: 50%;
            align-self: start;
         }
    }
    .separator-row {
        height: 40vh;
        background-image: url("/dist/img/girl_large.jpg");
    }
    .offer__caption {
        padding-bottom: 6rem;
    }
}

@media ($media-xlarge) {
    .about-us {
        &__content {
            column-gap: 4em;
        }
    }
    .separator-row {
        background-image: url("/dist/img/girl_xlarge.jpg");
    }
    .offer__cards {
        justify-content: center;
        column-gap: 3.2rem;
    }
}
